html {
  text-rendering: optimizeLegibility;
}

body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
textarea,
input,
button {
  all: unset;
}

* {
  @media print {
    font-size: 12px !important;
    color: #000 !important;
    background-color: #fff !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &::after {
    content: " ↗";
  }
  @media print {
    &::after {
      content: "";
    }
  }
}

body {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 14px;
}
